# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
